.menu {
  position: relative;
  &__modal {
    width: 400px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: -240px;
    border-radius: 18px;
    pointer-events: none;
    opacity: 0;
    transition: .2s opacity;
    overflow: hidden;
  }
  &__modal_active {
    pointer-events: auto;
    opacity: 1;
  }
  &__overlay {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
    top: -440px;
    opacity: 0;
    pointer-events: none;
    transition: .2s opacity;
  }
  &__overlay_active {
    pointer-events: auto;
    opacity: 1;
  }
  &__item {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }
  &__item:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    
  }
  &__exit {
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
  }
}