.menu {
  position: relative;
  &__modal {
    width: 400px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: -240px;
    border-radius: 18px;
    display: none;
    transition: .2s all;
  }
  &__modal_active {
    display: block;
  }
  &__overlay {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    height: calc(100vh + 200px);
    width: 100%;
    top: -440px;
    display: none;
    transition: .2s all;
  }
  &__overlay_active {
    display: block;
  }
  &__item {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
  }
  &__item:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}