.header {
  position: relative;
  min-height: 300px;
  background-color: var(--white-color);
  padding: 25px 25px 35px 25px;
  display: grid;
  grid-template-columns: 40px 280px 40px;
  justify-content: space-between;
  &__logo {
    width: 100%;
    svg {
      width: 100%;
    }
  }
  &__avatar {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 100%;
    margin:  auto;
    position: relative;
    transition: 1.5s all;
  }

  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &_name {
    margin-top: 15px;
    text-align: center;
  }
  &__status {
    color: var(--grey-text);
    text-align: center;
    margin-top: 6px;
  }
  &__upload {
    position: absolute;
    height: 45px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    bottom: -50px;
    text-align: center;
    transition: .5s all;
  }
  &__upload_active {
    bottom: 0px;
  }
  &__upload-btn {
    border: none;
    background: none;
    color: var(--white-color);
    opacity: 0.72;
    transition: .5s all;
  }
  &__upload-btn_active {
    opacity: unset;
  }
  &__input {
    display: none;
  }
  &__btn {
    height: 32px;
    width: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: end;
    align-items: center;
    cursor: pointer;
  }
  &__sircle {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #FF485C;
  }
  &__statistics {
    width: 180px;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 70px 70px;
    justify-content: space-between;
  }
  &__followers {
    text-align: center;
    span {
      color: var(--grey-text);
    }
  }
  &__posts {
    text-align: center;
    span {
      color: var(--grey-text);
      text-align: center;
    }
  }
}