.signup {
  min-height: 100vh;
  background: url('../img/bg/Bg-signup.jpg') no-repeat 50%/cover;
  position: relative;
  &__wrapper {
    display: grid;
    grid-template-columns: 117px 540px;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    column-gap: calc(1320px - 117px - 540px);
  }
  &__logo {
    width: 100%;
  }
}